/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model */
    scroll-snap-type: y mandatory;
}


/* Scroll-snap */
.servicios,
.titulo, 
.formulario{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}


*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-size: 16px; /* 1 rem = 10px */
}

/* ----------------------------------- */


/* Estilos Generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
}

.seccion-oscura{
    color: white;
    background-color: #1b1b32;
}

.seccion-clara{
    color: black;
    background-color: white;
}

.seccion-titulo{
    font-size: 4rem;
    padding: 1.5rem 0;
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

.seccion-descripcion{
    font-size: 2rem;
    color: #615151;
}

.seccion-texto{
    font-size: 2rem;
    padding: 0.5rem 0;
    margin: 0;
}

.btn-info{
    font-size: 2rem;
    margin: 2rem;
}

.texto-negro{
    color: black;
}

.texto-blanco{
    color: white;
}

/* ------------------------------------ */

/*Barra de Navegacion*/
.navbar{
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.nav-item a{
    font-weight: bold;
}

/* Seccion Hero */
.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 3rem;
}

.hero-imagen{
    width: 20rem;
    height: 20rem;
    margin: 2rem;
    border-radius: 50%;
    
}

.hero-principal h1{
    font-size: 4rem;
    color: #615151;
}

.hero-principal h2{
    font-size: 2.5rem;
    color: #221c1c;
}

/* Sobre mí */
.sobre-mi{
    height: 50rem;
    padding: 2rem;
}

.sobre-mi .contenedor{
    max-width: 60rem;
    text-align: center;
    margin: 2rem;
}

/* Experiencia */

.experiencia .columna{
    margin: 2rem 0;
    padding: 3rem 3rem 2rem 3rem;
    border: 0.2rem solid #8080804d;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover{
    color: white;
    background-color: #1b1b32;
}

.experiencia{
    padding: 4rem 4rem 6rem 4rem;
}


.experiencia-titulo{
    margin: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 2rem 0 1rem 0;
}

.badges-contenedor{
    font-size: 2rem;
    margin: 1rem 0;
}

.badge{
    margin: 0 0.2rem;
}

.experiencia i{
    font-size: 4rem;
    color: #ffffff;
    background-color: #0a0a23;
    padding: 2rem 2rem;
    border: 0.2rem solid #cecece;
    border-radius: 50%;
}

/* Proyectos */
.proyectos-recientes{
    padding: 4rem;
}

.proyectos-recientes img{
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 3rem;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor{
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto{
    position: relative;
}

.proyecto:hover img{
    opacity: 0.2;
}

.proyecto:hover .overlay{
    opacity: 1;
}

.overlay .iconos-contenedor{
    display: flex;
}

.overlay i{
    color: black;
    font-size: 6rem;
    margin: 1rem;
}


/* Articulos */
.articulos{
    min-height: 50rem;
    padding: 3rem;
}

.articulos .card{
    width: 60%;
    max-width: 60rem;
    margin: 1.5rem;
}

.articulos .card-header{
    font-weight: bold;
}


/* Testimonios */

.testimonio{
    padding: 4rem 4rem 8rem 4rem;
}

.testimonio-header{
    text-align: center;
}

.testimonio .carousel{
    max-width: 80rem;
}

.carousel-item{
    height: 50rem;
}

.carousel-item .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-imagen{
    height: 15rem;
    width: 15rem;
    margin: 1rem 1rem 2rem 1rem;
}

.testimonio-texto{
    max-width: 70%;
    font-size: 2rem;
    text-align: center;
}

.testimonio-info{
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.testimonio-texto{
    margin-bottom: 0;
    font-family: "Roboto Mono", monospace;
    
}

.testimonio-info .cliente{
    font-size: 1.5rem;
    margin-bottom: 0;
}

.testimonio-info .cargo{
    font-size: 1.2rem;
    color:#1b1b32;
}

/* Contacto */

.contacto .container{
    max-width: 110rem;
    min-height: 20rem;
    padding: 2rem;
}

.contacto .rectangulo{
    margin-top: -5rem;
    background-color: #0d6efd;
    border-radius: 1rem;
    box-shadow: 0px 1px 20px 1px rgb(0, 0, 0)
}

.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion{
    color: white;
    font-size: 2rem;
}

.contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 1rem;
    transition: 0.2s ease-in-out;
}

.contacto button i{
    font-size: 2rem;
    margin-left: 1rem;
    transition: 0.2 ease-in-out;
}

.contacto button:hover{
    background-color: white;
    color: rgb(13, 110, 253);
}


/* Footer */
.footer{
    min-height: 50rem;
}

.footer-logo{
    height: 8rem;
    width: 8rem;
    margin: 1rem;
}

.footer-texto{
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: 3rem;
    font-family: "Roboto Mono", monospace;
}

.iconos-redes-sociales a{
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    margin: 1rem;
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.iconos-redes-sociales i{
    color: white;
    font-size: 3rem;
    transition: 0.2s ease-in-out;
}

.iconos-redes-sociales a:hover{
    background-color: white;
}

.iconos-redes-sociales a:hover i{
    color: #0a0a23;
}

.derechos-de-autor{
    font-size: 1.5rem;
    padding: 0.2rem;
    color: #9595b4;
    margin: 2rem
}


/* Adaptable Responsivo */
@media screen and (max-width: 400px){
    .overlay p{
        font-size: 1.8rem;
    }

    .overlay i{
        font-size: 4rem;
    }
}

@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
    
    .experiencia .columna{
        margin: 3rem 0;
        padding: 4rem 0 2rem 0;
    }
}

@media screen and (max-width: 800px){
    .testimonio-imagen{
        width: 12rem;
        height: 12rem;
    }

    .testimonio-texto{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 480px){
    .testimonio-header{
        margin-bottom: 2rem;
    }

    .testimonio-imagen{
        margin-top: 12rem;
    }

    .sobre-mi{
        padding: 30rem 0;
    }
}

@media screen and (min-width: 700px){
    .hero-inferior-imagen{
        max-width: 600px;
    }
}


